// @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.main {
  padding: 30px 50px;
  background-color: rgb(138, 137, 137);
  // background-color: rgb(230, 229, 229, 0.3);
}
.title {
  text-align: center;
  font-size: 40px;
  // font-weight: 80;
  font-family: serif;
  color: white;
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-style: normal;
}
.logo {
  display: flex;
  gap: 13px;
  align-items: center;
  text-decoration: none;

  .name {
    font-size: 60px;
    font-weight: 90;
    font-family: fantasy;
    z-index: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .icon {
    font-size: 50px;
    color: rgb(255, 255, 255);
  }
}
.favorite-btn {
  padding: 13px 15px;
  cursor: pointer;
  // border: 2px solid black;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 13px;
}
.remove-btn {
  padding: 13px 15px;
  cursor: pointer;
  // border: 2px solid black;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 13px;
}

@media (max-width: 960px) {
  .logo {
    .name,
    .icon {
      font-size: 30px;
    }
  }
  .favorite-btn {
    font-size: 10px !important;
  }
  .remove-btn {
    font-size: 10px;
  }
}
